/* 
https://www.w3schools.com/sass/default.php
https://sass-lang.com/guide 
*/
/* Edited Icons 
// .pulse {
// 	animation: pulse 3s infinite;
// }

// @keyframes pulse {
// 	0% {
// 		font-variation-settings: 'wght' 100;
// 	}
// 	50% {
// 		font-variation-settings: 'wght' 700;
// 	}
// 	100% {
// 		font-variation-settings: 'wght' 100;
// 	}
// }

// .thin-icons {
// 	font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
// }

// .thick-fill-icons {
// 	font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
// }

// .material-symbols-outlined {
// 	font-family: 'Material Symbols Outlined';
// 	font-weight: normal;
// 	font-style: normal;
// 	font-size: 24px; 
// 	Preferred icon size 
// 	display: inline-block;
// 	line-height: 1;
// 	text-transform: none;
// 	letter-spacing: normal;
// 	word-wrap: normal;
// 	white-space: nowrap;
// 	direction: ltr;
// }
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Prociono&family=Raleway:wght@600;700&display=swap');

@import 'mixins/mixins';
@import 'layout/layout';
@import 'home/home';

html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700px;
}
h2 {
	font-size: 24px;
	font-family: 'Prociono', serif;
}
h3 {
	font-size: 20px;
	font-family: 'Prociono', serif;
}
h5 {
	font-size: 48px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700px;
}
p {
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}




